<div class="news-content">
  <div class="icon">
    <a routerLink="/news" href="">
      <div>
        <i class="fas fa-angle-left"></i> News
      </div>
    </a>
  </div>

  <div class="news-details" *ngIf="detailNews">
    <div>
      <h1 class="news-title">
        {{detailNews.title}}
      </h1>
    </div>
    <hr class="horizontal-line">
     <div>
       <p class="time-admin">{{detailNews.created_at | date:'longDate'}}, by {{detailNews.username}}</p>
     </div>
    <div class="" [innerHTML]="contentNews"></div>
  </div>
  
</div>
