.container-fluid {
    margin-top: 200px;
}

.icon {
    font-size: 25px;
    display: inline-block;
}

.news-content {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    margin-top: 150px;
}

.news-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

.news-title {
    font-size: 60px;
    color: #4E4E4E;
}

.horizontal-line {
    height: 8px;
    width: 100%;
    background-color: #707070;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: #A99371;
}