header {
    min-height: 400px;
    height: 113vh;
    background-image: url("../../../assets/img/landing_page-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.landing-title {
    color: #4E4E4E;
    font-size: 180px;
    text-transform: uppercase;
}

.landing-description {
    color: #FFFFFF;
    font-size: 40px;
    text-transform: uppercase;

}

.landing-content {
    position: absolute;
    top: 35%;
    left: 25%;
}

.spacing {
    padding-top: 250px;
}


