<div class="container-fluid">
    <div class="landing text-center" *ngIf="landingPage">
        <div class="img-logo">
            <img class="img-logo-style" src="../../../assets/img/Logo.png" alt="">
        </div>
        <div class="img-landing">
            <img class="img-style" [src]="landingPage[0].image_url" alt="">
        </div>
        <div class="title-landing">
            <h1 class="title">{{landingPage[0].title}}</h1>
        </div>
        <div class="description-landing">
            <p class="description">{{landingPage[0].description}}</p>
        </div>
    </div>
</div>