header {
    min-height: 400px;
    height: 115vh;
    background-image: url("../../../assets/img/firstpage.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

