.container-fluid {
    margin-top: 100px;
    background-image: url('../../../assets/img/bg_product-01.png');
    background-repeat: no-repeat;
}

.content-box {
    width: 550px;
}

.description-box {
    padding-top: 50px;
}

.title-box {
    padding-top: 76px;

}

.img-large-style {
    height: 100%;
    width: 100%;
}

.img-style {
    height: 100%;
    width: 100%;
    border: none;
}

.img-large-box {
    width: 592px;
    height: 696px;
    background: #A99371;
    border: 1px solid #707070;
}

.bg {
    background-image: url('../../../assets/img/product_content-12.png');
    background-repeat: no-repeat;
    padding-top: 50px;
    
    
}

.img-ingredient {
    width: 104px;
    height: 104px;
    background: #EFE7DB;
    margin-left: 55px;
    margin-top: 40px;
    
}

.text-box {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    margin-top: 100px;
    padding-bottom: 100px;
}

.ingredient-description {
    width: 150px;
    margin-left: 14%;
    margin-top: 10px;
    font-size: 25px;
    color: #4E4E4E;
    text-align: center;
}

.small-content-box {
    height: 250px;
    width: auto;
}

