<div class="container-fluid">
  <div class="text-center">
    <div class="title-box">
      <h1>{{productTitle}}</h1>
    </div>
    <div class="description-box">
      <p>{{productDescription}}</p>
    </div>
  </div>

  <div class="text-box">
    <div class="row">
      <div class="col-md-6">
        <div class="product-img">
          <img src="" alt="">
        </div>
      </div>
      <div class="col-md-6">
        <div class="content-box">
            <div class="row">
              <div class="bg col-md-6">
                <div class="ingredient-img">
                  <img src="" alt="">
                </div>
                <div class="ingredient-description">
                  <p>sometext</p>
                </div>
              </div>
              <div class="bg col-md-6">
                  <div class="ingredient-img">
                    <img src="" alt="">
                  </div>
                  <div class="ingredient-description">
                    <p>sometext</p>
                  </div>
                </div>
                <div class="bg col-md-6">
                    <div class="ingredient-img">
                      <img src="" alt="">
                    </div>
                    <div class="ingredient-description">
                      <p>sometext</p>
                    </div>
                  </div>
                  <div class="bg col-md-6">
                      <div class="ingredient-img">
                        <img src="" alt="">
                      </div>
                      <div class="ingredient-description">
                        <p>sometext</p>
                      </div>
                    </div>
            </div>
        </div> <!-- End content-box-->
      </div>
    </div>
  </div>
</div>
