<div class="container-fluid">
  <div class="landing-ourstory text-center" *ngIf="ourstoryLandingPage">
    <div class="img-logo-ourstory"> <!-- Mobile Design -->
      <a routerLink="/home">
        <img class="img-logo-style" src="../../../assets/img/Logo.png" alt="">
      </a>
    </div>
    <div class="img-landing-ourstory">
      <img class="img-large-style" [src]="ourstoryLandingPage[0].image_url" alt="">
    </div>
    <div class="title-landing-ourstory">
      <h1 class="title-ourstory">{{ourstoryLandingPage[0].title}}</h1>
    </div>
    <div class="description-landing-ourstory">
      <p class="description-ourstory">{{ourstoryLandingPage[0].description}}</p>
    </div>
  </div>

  <div class="content-1">
      <p class="content-1-description">{{description}}</p>   
  </div>

  <div class="content-2" *ngIf="storyDetail">
    <div *ngFor="let item of storyDetail; let i = index">
      <div class="row content-spacing" *ngIf="i % 2 === 0">
        <div class="col-md-6">
          <div class="img-box">
            <img class="img-style" [src]="item.image_url" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-box">
            <div class="count-number">
              <p class="number">{{i + 1}}</p>
            </div>
            <div>
              <h1 class="story-title">{{item.title}}</h1>
            </div>
            <div class="description-box-ourstory">
              <p class="story-description">{{item.description}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row content-spacing" *ngIf="i % 2 !== 0">
          <div class="col-md-6">
            <div class="text-box">
              <div class="count-number">
                <p class="number">{{i + 1}}</p>
              </div>
              <div>
                <h1 class="story-title">{{item.title}}</h1>
              </div>
              <div class="description-box-ourstory">
                <p class="story-description">{{item.description}}</p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="img-box">
              <img class="img-style" [src]="item.image_url" alt="">
            </div>
          </div>
        </div>
      
    </div> <!-- End of ngFor-->
  </div>
    
</div>
  
  