<app-navbar style="background-color: #ffffff;"></app-navbar>
<header>

</header>

<div class="container">
  <div class="row">
    <div class="col">
      <img src="{{image1}}" alt="">
    </div>
    <div class="col pos">
      <div class="pos1">
        <h1><span> 1 </span> {{title1}}</h1>
        <p>{{paragraph1}}</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col pos">
      <div class="pos1">
        <h1><span> 2 </span> {{title2}}</h1>
        <p>{{paragraph2}}</p>
      </div>
    </div>
    <div class="col">
      <img src="{{image2}}" alt="">
    </div>
  </div>

  <div class="row">
    <div class="col">
      <img src="{{image3}}" alt="">
    </div>
    <div class="col pos">
      <div class="pos1">
        <h1><span> 3 </span> {{title3}}</h1>
        <p>{{paragraph3}}</p>
      </div>
    </div>
  </div>  
  
</div>