.landing {
    position: relative;
    width: 100%;
    height: 864px;
}

.img-style {
    width: 100%;
    height: 100%;
}

.img-landing {
    width: 100%;
    height: 950px;
}

.title-landing {
    position: absolute;
    bottom: 40%;
    left: 27%;
    width: 1000px;
    text-align: center;
}

.title {
    color: #fff;
    font-size: 180px;
}

.description-landing {
    position: absolute;
    bottom: 0%;
    left: 40%;
    width: 400px;
}

.description {
    font-size: 40px;
    text-align: center;
    color: #fff;
}

.content-1 {
    margin-top: 150px;
    margin-left: auto;
    margin-right: auto;
    width: 58%;
}

.content-1-description {
    position: relative;
    font-size: 25px;
    color: #4E4E4E;
    text-indent: 5%;
}

.story-title {
    color: #4E4E4E;
    font-size: 60px;
}

.story-description {
    font-size: 25px;
    color: #6E6D6D;
    text-indent: 5%;
}

.description-box {
    padding-top: 20px;
    width: 80%;
}

.text-box {
    margin-top: 20%;
    margin-left: 10%;
}

.content-spacing {
    padding-top: 50px;
}