<div class="container-fluid">
  <div class="landing text-center">
    <img class="" src="../../../../assets/img/our_story_landingpage-05.png" alt="">
    <h1 class="title">{{landingTitle}}</h1>
    <p class="description">{{landingDescription}}</p>
  </div>

  <div class="content-1">
      <p class="content-1-description">Quality Aromatic coconuts come from a special soil in Damnoen Saduak, Ratchaburi, Thailand. The soil that they are grown in, used to be under sea level in the past. The aromatic coconuts contain all necessary vitamins and minerals that are beneficial for good health. Our quality product is made in Thailand. We capture the freshness of the coconut juice.</p>   
  </div>

  <div class="content-2">
    <div>
      <div class="row content-spacing">
        <div class="col-md-6">
          <div class="img-box">
            <img src="../../../../assets/img/our_story_content1-07.png" alt="">
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-box">
            <div>
              <h1 class="story-title">{{storyTitle}}</h1>
            </div>
            <div class="description-box">
              <p class="story-description">{{storyDescription}}</p>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>
  </div>
    
</div>
  
  