header {
    
    height: 110vh;
    background-image: url("../../../../assets/img/rolands-varsbergs-1441016-unsplash.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 100%;
}

.container {
    max-width: 1440px;
}

.row {
    margin-top: 140px;
}

.pos {
    position: relative;
    min-height: 200px;
}

.pos1 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 500px;
    margin: 30px;
    
    h1 {
        color: #19428A;
        font-size: 40px;
        font-weight: bold;
        padding-bottom: 30px;
    }
    span {
        font-size: 120px;
        font-weight: bold;
    }
    p {
        text-indent: 40px;
        font-size: 25px;
    }
}



