.landing {
    position: relative;
    width: 100%;
    height: 864px;
}

.title {
    font-size: 180px;
    bottom: 35%;
    left: 33%;
    position: absolute;
    color: #fff;
}

.description {
    font-size: 40px;
    bottom: 0%;
    left: 36%;
    position: absolute;
    color: #fff;
}

.content-1 {
    margin-top: 300px;
    margin-left: auto;
    margin-right: auto;
    width: 58%;
}

.content-1-description {
    position: relative;
    font-size: 25px;
    color: #4E4E4E;
    text-indent: 5%;
}

.story-title {
    color: #4E4E4E;
    font-size: 60px;
}

.story-description {
    font-size: 25px;
    color: #6E6D6D;
    text-indent: 5%;
}

.description-box {
    padding-top: 20px;
    width: 80%;
}

.text-box {
    margin-top: 20%;
    margin-left: 10%;
}

.content-spacing {
    padding-top: 50px;
}