<!-- <div class="container"> -->
  <nav class="navbar fixed-top navbar-expand-md navbar-light">
    <!-- <div class="container"> -->
        <a routerLink="/home" class="navbar-brand">
          <div class="nav-img">
            <img class="img" src="../../assets/img/Logo.png" alt="">
          </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mg-right color" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto padding">
            <li class="nav-item">
                <a class="nav-item nav-link">Product</a>
            </li>
            <li class="nav-item">
                <a routerLink="/news" class="nav-link" href="#">News</a>
            </li>
            <li class="nav-item">
                <a routerLink="/store" class="nav-link" href="#">Store</a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <img src="../../assets/img/thailand.svg" alt="">
                </a>
            </li>
          </ul>
        </div>
      <!-- </div> -->
  </nav>
<!-- </div> -->
