<div class="container">
  <nav class="navbar fixed-top navbar-expand-lg navbar-light">
    <!-- <div class="container"> -->
        <a routerLink="/home" class="navbar-brand">
          <img class="img" src="https://cdn.pixabay.com/photo/2015/12/22/04/00/photo-1103594_960_720.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mg-right color" id="navbarSupportedContent">
          <ul class="nav navbar-nav ml-auto padding">
            <li>
                <a class="nav-item nav-link" href="#">Product</a>
            </li>
            <li>
                <a routerLink="/news" class="nav-item nav-link" href="#">News</a>
            </li>
            <li>
                <a routerLink="/store" class="nav-item nav-link" href="#">Store</a>
            </li>
            <li>
                <a class="nav-item nav-link" href="#">
                  <img src="../../assets/img/thailand.svg" alt="">
                </a>
            </li>
          </ul>
        </div>
      <!-- </div> -->
  </nav>
</div>
