.inset {
    float:left;
    position: absolute;
    width: 500px;
    height: 500px;
    background: #d8b893;
    transform: rotate(45deg);
    z-index: auto;
    top: 150px;
}

.inset1 {
    float:left;
    position: absolute;
    width: 400px;
    height: 400px;
    background: rgba(255,255,255,0.6);
    transform: rotate(-45deg) translateX(100px) translateY(-90px);
    top: 150px;
    z-index: 1;
    //clip-path: url();
}


.inset1 img {
    max-width:100%;
    height: auto;
    display: block;
}

