.title {
    font-size: 70px;
    color: #19428A;
    font-weight: bold;
}

.paragraph {
    font-size: 25px;
    text-indent: 50px;
}

.container {
    max-width: 1440px;    
}

.pos {
    margin: 90px 90px;
}
