
<app-intro></app-intro>

<app-our-story id="our-story"></app-our-story>
  <!-- <app-coconut-drink id="coconut-drink"></app-coconut-drink> -->


<div class="container">
  <div class="row mg-top">
    <div class="col-8 contain-height border">
      <img class="image-fit" src="assets/img/berries-berry.jpg" alt="">
    </div>
    
      <div class="col-4">
        <a href="#">
          <button type="button" class="btn btn-outline-info fill-button"><span style="font-size: 2.5em;">Benefits of Coconut</span></button>
        </a>
      </div>
    
  </div>
</div>

<div class="container mg-top" id="aromatic-coconut">
    <app-aromatic-coconut></app-aromatic-coconut>
</div>

<div class="container mg-top border" id="news">
  <app-news></app-news>
</div>


<div class="container mg-top" id="testimonial">
  <app-testimonial></app-testimonial>
  
</div>




