<div class="container-fluid">
  <div class="content-box">
    <div class="row">
      <div class="col-md-6">
        <div class="text-box">
            <div>
              <h1 class="title">{{aromaticTitle}}</h1>
            </div>
            <div class="description-box">
              <p class="description">{{aromaticDescription}}</p>
            </div>
            <div class="row">
              <div class="bg col-md-4"> <!-- Loop -->
                <div class="benefit">
                  <p>Slowing down of alzheimers</p>
                </div>
              </div>
              <div class="bg col-md-4">
                  <div class="benefit">
                    <p>Giving youthful and glowing skin</p>
                  </div>
                </div>
                <div class="bg col-md-4">
                    <div class="benefit">
                      <p>The best refreshment drink and Sport drink</p>
                    </div>
                  </div>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <img class="img-box" src="../../../assets/img/aromatic-02.png" alt="">
        </div>
      </div>
    </div>
  </div>
</div>
