<div class="container-fluid">
  <div class="row">
    <div class="col-md-6">
      <div>
        <img src="../../../assets/img/our_story-03.png" alt="">
      </div>
    </div>
    <div class="col-md-6">
      <div class="text-box">
        <div>
          <h1 class="title">{{ourStoryTitle}}</h1>
        </div>
        <div class="description-box">
          <p class="description">{{ourStoryDescription}}</p>
        </div>
        <div class="button-box">
          <button class="btn button-style">See our story</button>
        </div>
      </div>
    </div>
  </div>
</div>
