@import '../../../styles-variable.scss';

.container-top-box {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    bottom: 200px;
    // left: 100px;
    position: relative;
}

.landing-news {
    position: relative;
    width: 100%;
    height: 864px;
}

.img-landing-news {
    width: 100%;
    height: 800px;
}

.img-style {
    width: 100%;
    height: 100%;
}

.title-landing-news {
    position: absolute;
    bottom: 45%;
    left: 31%;
    width: 700px;
    text-align: center;
}

.title-news {
    font-size: 180px;
    color: #4E4E4E;
}

.description-landing-news {
    position: absolute;
    bottom: 30%;
    left: 37%;
    width: 400px;
}

.description-news {
    font-size: 40px;
    text-align: center;
    color: #fff;
}

/////////////
.card {
    border: none;
    box-shadow: none;
}

.small-card {
    background: url('../../../assets/img/news_content1-13.png') center;
    background-repeat: no-repeat;
    height: 496px;
    width: 496px;
}

.small-card-mobile {
    background: url('../../../assets/img/news_content1-13.png');
    background-repeat: no-repeat;
    
}

.big-card {
    background: url('../../../assets/img/news_content2-16.png');
    background-repeat: no-repeat;
    width: 85%;
    height: auto;
    margin-left: 10%;
    padding: 120px 60px 65px 110px;
}

.card-title-box {
    margin-left: 15%;
    width: 70%;
}

.card-title {
    color: #4E4E4E;
}

.card-text {
    color: #6E6D6D;
    text-indent: 5%;
}

.small-text-description {
    font-size: 14px;
}

.small-text-title {
    font-size: 22px;
}

.big-text {
    font-size: 20px;
}

.title-section {
    font-size: 60px;
    color: #4E4E4E;
    margin-left: 240px;
}

.title-latest {
    font-size: 25px;
    color: #4E4E4E;
    text-transform: uppercase;
}

a {
    text-decoration: none;
}

.suggest {
    margin-top: 50px;
}

.text-box {
    width: 80%;
    margin-left: 7%;
    margin-top: 5%;
}

.content-news {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 75%;
}

.img-box-news {
    width: 480px;
    height: 370px;
}

.img-small-box {
    margin-top: 15%;
    margin-left: 15%;
    width: 356px;
    height: 200px;
}

.img-style {
    width: 100%;
    height: 100%;
}

.img-top-box {
    margin-top: 15%;
    margin-left: 15%;
    width: 350px;
    height: 230px;
}


