<div class="container-fluid">
  <div class="landing">
    <img class="" src="../../../assets/img/news_landing-15.png" alt="">
    <h1 class="title text-center">News</h1>
  </div>

  <div class="container-fluid content"> 
    <div class="row justify-content-md-center">   
      <div class="col-6 col-md-4">
        <a href="">
          <div class="card small-card">
              <div class="card-body">
                <img src="../../../assets/img/gilles-lambert-S_LhjpfIdm4-unsplash.png" alt="" class="card-img-top ">
              <div class="card-title">
                <h5 class="card-title text-center">Benefits “Coconut water” for health “ What is the best woman to drink?”</h5>
                <p class="card-text small-text">Girls, have you heard that “coconut water” helps “women” look radiant.</p>
              </div>
            </div>
          </div>
        </a>
      </div>
      <div class="col-6 col-md-4">
          <a href="">
            <div class="card small-card">
                <div class="card-body">
                  <img src="../../../assets/img/gilles-lambert-S_LhjpfIdm4-unsplash.png" alt="" class="card-img-top ">
                <div class="card-title">
                  <h5 class="card-title text-center">Benefits “Coconut water” for health “ What is the best woman to drink?”</h5>
                  <p class="card-text small-text">Girls, have you heard that “coconut water” helps “women” look radiant.</p>
                </div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-6 col-md-4">
            <a href="">
              <div class="card small-card">
                  <div class="card-body">
                    <img src="../../../assets/img/gilles-lambert-S_LhjpfIdm4-unsplash.png" alt="" class="card-img-top ">
                  <div class="card-title">
                    <h5 class="card-title text-center">Benefits “Coconut water” for health “ What is the best woman to drink?”</h5>
                    <p class="card-text small-text">Girls, have you heard that “coconut water” helps “women” look radiant.</p>
                  </div>
                </div>
              </div>
            </a>
          </div>
    </div>
  </div>
    <h1 class="title-section">Latest</h1>
      <div class="container">
        <div class="card big-card">
          <div class="row">
            <div class="col-md-4">
              <img src="../../../assets/img/sandro-strenta-7z_c1zf7zjA-unsplash.png" alt="" class="card-img">
            </div>
            <div class="col-md-8">
              <div class="card-body">
                <h5 class="title-latest">Thai aromatic coconut jelly drink</h5>
                <p class="card-text big-text">Quality Aromatic coconuts come from a special soil in Damnoen Saduak, Ratchaburi, Thailand. The soil that they are grown in, used to be under sea level in the past. The aromatic coconuts contain all necessary vitamins and minerals that are beneficial for good health. Our quality product is made in Thailand. We capture the freshness of the coconut juice.</p>
              </div>
            </div>
          </div>
          </div>
      </div>
    <h1 class="title-section">Suggested</h1>
    
  
</div>

