<div class="container-fluid">
    <div class="landing-store text-center" *ngIf="storeLandingPage">
      <div class="img-logo-news"> <!-- Mobile Design -->
        <a routerLink="/home">
          <img class="img-logo-style" src="../../../assets/img/Logo.png" alt="">
        </a>
      </div>
      <div class="img-landing">
        <img class="img-style" [src]="storeLandingPage[0].image_url" alt="">
      </div>
      <div class="title-landing-store">
          <h1 class="title-store">{{storeLandingPage[0].title}}</h1>
      </div>
      <div class="description-landing-store">
          <p class="description-store">{{storeLandingPage[0].description}}</p>
      </div>
    </div>
  
    <div class="container-fluid content-store"> 
        <div class="" *ngIf="topStoreSuggested">
            <div class="big-card" *ngFor="let item of topStoreSuggested">
              <a href="{{item.url}}" target="_blank">
                <div class="row">
                  <div class="col-md-4">
                    <div class="img-box-store">
                      <img [src]="item.image_url" alt="" class="img-style">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="text-box">
                      <h5 class="title-store-latest">{{item.title}}</h5>
                      <p class="card-text big-text">{{item.description}}</p>
                    </div>
                  </div>
                </div>
              </a>
              </div>
              <div class="big-card-store-mobile" *ngFor="let item of topStoreSuggested"> <!-- Mobile design-->
                <div class="store-mobile">
                  <a href="{{item.url}}" target="_blank">
                    <div class="row">
                      <div class="col-md-4 col-4">
                        <div class="img-box-store">
                          <img [src]="item.image_url" alt="" class="img-style">
                        </div>
                      </div>
                      <div class="col-md-8 col-8">
                        <div class="text-box">
                          <h5 class="title-store-latest">{{item.title}}</h5>
                          <p class="card-text description-store-mobile">{{item.description}}</p>
                        </div>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
          </div>
    </div>

    <div class="latest">
      <div>
        <h1 class="title-section">Latest</h1>
      </div>
        <div class="" *ngIf="storeLatest">
          <div class="big-card" *ngFor="let item of storeLatest">
            <a href="{{item.url}}" target="_blank">
              <div class="row" >
                <div class="col-md-4">
                  <div class="img-box-store">
                    <img [src]="item.image_url" alt="" class="img-style">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="text-box">
                    <h5 class="title-store-latest">{{item.title}}</h5>
                    <p class="card-text big-text">{{item.description}}</p>
                  </div>
                </div>
              </div>
            </a>
            </div> 
            <div class="latest-mobile-responsive" *ngFor="let item of storeLatest"> <!-- Mobile design -->
              <a [routerLink]="['/news/detail', item.id]">
                <div class="card small-card-mobile">
                  <!-- <div class="card-body"> -->
                    <div class="img-box-latest">
                      <img [src]="item.image_url" alt="" class="img-style">
                    </div>
                    <div class="card-title-box">
                      <h5 class="card-title text-center small-text-latest">{{item.title}}</h5>
                      <p class="card-text small-text-description">{{item.description}}</p>
                    </div>
                  <!-- </div> -->
                </div>
              </a>
            </div>
        </div>
    </div>
  
    <div class="suggest">
      <div>
        <h1 class="title-section">Suggested</h1>
      </div>
      <div>
        <div class="content-news">
          <div class="row" *ngIf="storeSuggested">
            <div class="bg col-md-6 col-6" *ngFor="let item of storeSuggested">
              <a href="{{item.url}}" target="_blank">
                <div class="card small-card">
                    <div class="card-body">
                      <div class="img-box-suggest">
                        <img [src]="item.image_url" alt="" class="img-large-style">
                      </div>
                      <div class="card-title-box">
                        <h5 class="card-title title-store-suggest">{{item.title}}</h5>
                        <p class="card-text small-text-description">{{item.description}}</p>
                      </div>
                    </div>
                </div>
              </a>
            </div>
              
          </div>
        </div>
      </div>
    </div>
      
      
    
  </div>
  
  