<div class="container-fluid">
    <div class="landing text-center" *ngIf="storeLandingPage">
      <div class="img-landing">
        <img class="" [src]="storeLandingPage[0].image_url" alt="">
      </div>
      <div class="title-landing">
          <h1 class="title">{{storeLandingPage[0].title}}</h1>
      </div>
      <div class="description-landing">
          <p class="description">{{storeLandingPage[0].description}}</p>
      </div>
    </div>
  
    <div class="container-fluid content"> 
        <div class="" *ngIf="topStoreSuggested">
            <div class="big-card" *ngFor="let item of topStoreSuggested">
              <a href="{{item.url}}" target="_blank">
                <div class="row">
                  <div class="col-md-4">
                    <div class="img-box">
                      <img [src]="item.image_url" alt="" class="img-style">
                    </div>
                  </div>
                  <div class="col-md-8">
                    <div class="text-box">
                      <h5 class="title-latest">{{item.title}}</h5>
                      <p class="card-text big-text">{{item.description}}</p>
                    </div>
                  </div>
                </div>
              </a>
              </div>
          </div>
    </div>

    <div class="latest">
      <div>
        <h1 class="title-section">Latest</h1>
      </div>
        <div class="" *ngIf="storeLatest">
          <div class="big-card" *ngFor="let item of storeLatest">
            <a href="{{item.url}}" target="_blank">
              <div class="row" >
                <div class="col-md-4">
                  <div class="img-box">
                    <img [src]="item.image_url" alt="" class="img-style">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="text-box">
                    <h5 class="title-latest">{{item.title}}</h5>
                    <p class="card-text big-text">{{item.description}}</p>
                  </div>
                </div>
              </div>
            </a>
            </div>
        </div>
    </div>
  
    <div class="suggest">
      <div>
        <h1 class="title-section">Suggested</h1>
      </div>
      <div>
        <div class="content-news">
          <div class="row" *ngIf="storeSuggested">
            <div class="bg col-md-6" *ngFor="let item of storeSuggested">
              <a href="{{item.url}}" target="_blank">
                <div class="card small-card">
                    <div class="card-body">
                      <div class="img-large-box">
                        <img [src]="item.image_url" alt="" class="img-large-style">
                      </div>
                      <div class="card-title-box">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text small-text">{{item.description}}</p>
                      </div>
                    </div>
                </div>
              </a>
            </div>
              
          </div>
        </div>
      </div>
    </div>
      
      
    
  </div>
  
  