@import '../../../styles-variable.scss';

.title-coconut {
    color: #4E4E4E;
    font-size: 120px;
}

.content-box-coconut {
    margin-top: 100px;
}

.content-image {
    margin-top: 50px;
    margin-left: 3%;
}

.img-style {
    width: 100%;
    height: 100%;
}

.img-box-coconut {
    width: 424px;
    height: 404px;
}

