<div class="container-fluid">
  <div class="content-box-coconut">
    <div class="text-center">
      <h1 class="title-coconut">Coco Damnoen</h1>
    </div>
  </div>

  <div class="content-image">
    <div class="row">
      <div class="col-md-3 col-6">
        <div class="img-box-coconut"><img class="img-style" src="../../../assets/img/black-coco-coco-nut-60713.png" alt=""></div>
      </div>
      <div class="col-md-3 col-6">
        <div class="img-box-coconut"><img class="img-style" src="../../../assets/img/IMG_8606.png" alt=""></div>
      </div>
      <div class="col-md-3 col-6">
        <div class="img-box-coconut"><img class="img-style" src="../../../assets/img/jonas-ducker.png" alt=""></div>
      </div>
      <div class="col-md-3 col-6">
        <div class="img-box-coconut"><img class="img-style" src="../../../assets/img/vera-gorbunova.png" alt=""></div>
      </div>
    </div>
  </div>
</div>
