$breakpoint-xs-min: 320px;
$breakpoint-xs-max: 415px;
$breakpoint-md: 768px;

@media (min-width: $breakpoint-xs-min) and (max-width: $breakpoint-xs-max) {
  
  nav {
    background-color: transparent !important;
    box-shadow: none !important;
    // margin-left: 100px;
  }

  .navbar-toggler {
    border-color: transparent;

  }

  .img-nav {
    display: none;
  }

  // Navbar end

  .img-logo-style {
    height: 100%;
    width: 100%;
  }

  .img-logo-intro {
    width: 90px;
    height: 90px;
    position: absolute;
    top: 15%;
    left: 41%;
  }

  .img-landing-intro {
    width: 100%;
    height: 100vh !important;
  }

  .title-landing {
    top: 30% !important;
    left: 25% !important;
    width: 200px !important;
    
  }

  .title {
    font-size: 58px !important;
  }

  .description-landing {
    top: 70% !important;
    left: 30% !important;
    width: 150px !important;
  }

  .description {
    font-size: 15px !important;
  }

  .img-style {
    width: 100%;
  }

  .landing-intro {
    height: 103vh !important;
  }

  .content-box {
    margin-top: 0px !important;
    width: 100% !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
  }

  .title-box {
    margin-left: 8%;
    width: 300px;
    text-align: center;
  }

  .title {
    font-size: 25px !important;
  }

  .shape {
    height: 75px !important;
    width: 75px !important;
  }

  .text-area {
    padding-top: 80px !important;
    font-size: 20px !important;
  }

  .row {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .pos {
    margin: 40px 10px !important;
  }

  .small-responsive-text {
    font-size: 14px;
    text-align: center;
    color: #6E6D6D;
    width: 75%;
    margin-left: 10%;
    padding-bottom: 10%;
  }

  // Intro end

  .col-md-6 {
    padding-left: 0px;
    padding-right: 1px;
  }

  .text-box {
    padding-left: 24px !important;
    padding-right: 24px !important;
  }

  .title {
    text-align: center;
    font-size: 25px !important;
  }

  .description-box {
    width: 365px !important;
    padding-top: 10px !important;
    padding-right: 10%;
  }

  .description {
    font-size: 14px !important;
    text-align: left;
  }

  .button-style {
    margin-left: 15%;
    font-size: 18px !important;
  }

  // Our Story end

  .title-box-product {
    padding-top: 44px !important;
  }

  .top-landing-box {
    margin-left: 5%
  }

  .description-box-product {
    width: 318px !important;
    padding-top: 10px !important;
    padding-right: 0px;
  }

  .img-large-box {
    width: 100% !important;
    height: 291px !important;
  }

  .bg {
    background-size:  auto 100%;
    padding-top: 0px !important;
    margin-top: 20px !important;
  }

  .img-ingredient {
    width: 48px !important;
    height: 48px !important;
    margin-left: 40px !important;
    margin-top: 40px !important;
  }

  .ingredient-description {
    width: 80px !important;
    margin-left: 28% !important;
    font-size: 12px !important;
  }

  .small-content-box {
    height: 130px !important;
    width: 69% !important;
  }

  // Product end

  .img-fruit {
    display: none;
  }

  .text-box-fruit {
    display: none;
  }

  .content-box-fruit {
    margin-top: 35px !important;
  }

  .title-fruit {
    margin-top: 10%;
  }

  .description-box-fruit {
    margin-left: auto;
    margin-right: auto;
    width: 87%;
  }

  .benefit {
    margin-left: 5% !important;
    margin-top: 9% !important;
    font-size: 16px !important;
    width: 300px !important;
    height: 57px !important;
    p {
      padding-top: 17px;
    }
  }

  .title-coconut {
    font-size: 25px !important;
  }

  .img-box-coconut {
    margin-top: 20px;
    width: 100% !important;
    height: 145px !important;
  }

  .content-image {
    margin-top: 10px !important;
  }
  // Coco Damnoen end

  .contact {
    height: auto !important;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content-box-footer {
    margin-top: 0px !important;
    padding-top: 220px;
    margin-left: 20px !important;
    text-align: center;
  }

  .title-contact {
    font-size: 25px !important;
  }

  .top-space {
    font-size: 14px !important;
  }

  .letter-box {
    margin-top: 45px !important;
    margin-left: 0px !important;
  }

  .input-style {
    width: 221px !important;
    height: 44px !important;
    font-size: 14px !important;
    display: inline-block;
  }

  .button-style-contact {
    height: 44px !important;
    width: 113px !important;
    display: inline-block;
    margin-top: 6px !important;
    margin-left: 0%;
    font-size: 14px !important;
  }

  .title-letter {
    text-align: center;
    font-size: 22px !important;
  }

  .input-box {
    margin-left: 5%;
  }

  .icon-box {
    margin-left: 12%;
  }

  // Footer end

  .landing-news {
    height: 50vh !important;
  }

  .img-landing-news {
    height: 40vh !important;
  }

  .title-landing-news {
    bottom: 50% !important;
    left: 4% !important;
    width: 100% !important;
  }

  .title-news {
    font-size: 58px !important;
  }

  .small-card {
    background-position: center center;
    background-size: contain !important;
    width: 180px !important;
    height: 176px !important;
  }

  

  .img-top-box {
    margin-top: 18% !important;
    margin-left: 16% !important;
    width: 122px !important;
    height: 74px !important;
  }

  .small-text-description {
    display: none;
  }

  .small-text-title {
    font-size: 12px !important;
  }

  .container-top-box {
    bottom: 140px !important;
    width: 95% !important;
  }

  .title-section {
    font-size: 25px !important;
    margin-left: 7% !important;
  }

  .img-box-news {
    width: 288px !important;
    height: 214px !important;
  }

  .big-card {
    display: none;
  }

  .small-card-mobile {
    // background-position: center center;
    width: 355px;
    height: 327px;
    background-size: cover !important;
  }

  .small-text-latest {
    font-size: 16px;
  }

  .img-box-latest {
    margin-top: 15%;
    margin-left: 15%;
    width: 248px;
    height: 194px;
  }

  .img-small-box {
    width: 122px !important;
    height: 74px !important;
  }

  .content-news {
    width: 85% !important;
    margin-left: 0% !important;
  }

  .img-logo-news {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 20%;
    left: 10%;
  }

  // News end

  .landing-store {
    height: 50vh !important;
  }

  .img-landing {
    height: 35vh !important;
  }

  .title-store {
    font-size: 58px !important;
  }

  .title-landing-store {
    bottom: 48% !important;
    left: 0% !important;
    width: 100% !important;
  }

  .big-card-store-mobile {
    width: 384px;
    height: 166px;
    position: absolute;
    bottom: 13% !important;
    background-size: cover !important;
  }

  .content-store {
    bottom: 45px !important;
  }

  .img-box-store {
    width: 113px !important;
    height: 84px !important;
  }

  .title-store-latest {
    font-size: 14px !important;
  }

  .description-store-mobile {
    font-size: 10px;
  }

  .store-mobile {
    margin-left: 13%;
    margin-top: 15%;
  }

  .img-box-suggest {
    width: 132px !important;
    height: 74px !important;
    margin-left: 2% !important;
  }

  .title-store-suggest {
    font-size: 12px !important;
  }

  .landing-ourstory {
    height: 104vh !important;
  }

  .img-landing-ourstory {
    height: 106vh !important;
  }

  .title-landing-ourstory {
    bottom: 60% !important;
    left: 0% !important;
    width: 100% !important;
  }

  .title-ourstory {
    font-size: 58px !important;
  }

  .description-landing-ourstory {
    bottom: 15% !important;
    left: 0% !important;
    width: 100% !important;
  }

  .description-ourstory {
    font-size: 15px !important;
  }

  .content-1 {
    margin-top: 40px !important;
    width: 80% !important;
  }

  .content-1-description {
    font-size: 14px !important;
  }

  .story-title {
    font-size: 25px !important;
  }

  .count-number {
    width: 79px !important;
    height: 76px !important;
    margin-left: 30%;
  }

  .number {
    font-size: 46px !important;
  }

  .story-description {
    font-size: 14px !important;
  }

  .description-box-ourstory {
    width: 100% !important;
  }

  .img-logo-ourstory {
    width: 60px;
    height: 60px;
    position: absolute;
    top: 10%;
    left: 10%;
  }
}

@media screen and (min-width: $breakpoint-md) {
  .img-logo-intro {
    display: none;
  }

  .small-responsive-text {
    display: none;
  }

  .img-mobile-responsive {
    display: none;
  }

  .text-box-responsive {
    display: none;
  }

  .latest-mobile-responsive {
    display: none;
  }

  .big-card-store-mobile {
    display: none;
  }

  .img-logo-ourstory {
    display: none;
  }

  .img-logo-news {
    display: none;
  }
}