/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: baby_girly;
    src: url(assets/font/baby_girly.otf) format("opentype");
}

* {
    box-sizing: border-box;
    font-family: 'baby_girly';
}

html, body {
    height: 100%;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    overflow-x: hidden; 
    scroll-behavior: smooth;
    
}

body {
    background: #f7f7f7;
}

.container-fluid {
    padding-right: 0px;
    padding-left: 0px;
}
